<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <description>Habot TM470</description>
  <display-name>Habot TM470 service</display-name>
	
  <context-param>
    <param-name>driverName</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://213.175.198.160/moffitto_habot</param-value>
  </context-param>
  <context-param>
    <param-name>userId</param-name>
    <param-value>moffitto_habot</param-value>
  </context-param>
  <context-param>
    <param-name>passWord</param-name>
    <param-value>!Moff1tt1</param-value>
  </context-param>
  
  <servlet>
  <servlet-name>testServlet</servlet-name>
  <servlet-class>info.habot.tm470.servlet.testServlet</servlet-class>
</servlet>
 <servlet-mapping>
  <servlet-name>testServlet</servlet-name>
  <url-pattern>/testServlet</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>AjaxHabotServlet</servlet-name>
  <servlet-class>info.habot.tm470.servlet.AjaxHabotServlet</servlet-class>
</servlet>
 <servlet-mapping>
  <servlet-name>AjaxHabotServlet</servlet-name>
  <url-pattern>/AjaxHabot</url-pattern>
</servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
